$body-bg: #fff;
$body-color: #525252;
$headings-color: #000;

$primary: #ed2038;
$secondary: #252525;
$gray-400: #ccc;
$gray-600: #616161;

$font-family-base: 'Futura', sans-serif;
$font-size-base: 1.15rem;

$headings-font-family: 'Futura', sans-serif;
$headings-font-weight: 500;