section {
  position: relative;
  padding: 50px 0;
}

#intro {
  padding: 120px 0;
  background: url("../../images/black-and-white-close-up-eyes-407035.jpg") 50% 50% / cover no-repeat;

  @media (min-width: map_get($grid-breakpoints, lg)) {
    height: 100vh;
  }

  &::before {
    @extend %abs;
    height: 250px;
    content: '';
    background: linear-gradient(to bottom, #fff, transparent);
  }
}

#for-who {
  .image {
    position: absolute;
    right: 50%;
    width: 50vw;
    top: 0;
    bottom: 0;
    background: url("../../images/slider_opportunities.jpg") 50% 50% / cover no-repeat;
  }
}